---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/MODApis/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"SUCCESS","Name":"Tesla Inc","Symbol":"TSLA","LastPrice":262.08,"Change":4.59999999999997,"ChangePercent":1.78654652788565,"Timestamp":"Wed
        Feb 8 00:00:00 UTC-05:00 2017","MSDate":42774,"MarketCap":42218205120,"Volume":3933014,"ChangeYTD":213.69,"ChangePercentYTD":22.6449529692545,"High":263.36,"Low":256.2,"Open":257.35}'
  recorded_at: Thu, 09 Feb 2017 20:29:14 GMT
recorded_with: VCR 3.0.3
